<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Cadastros/Despesa" />
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/datagrid/datatables/datatables.bundle.css" />  
    <include path="~/Content/fa-solid.css" />    
  </styleBundle>
</bundles>