/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px; /* altura do rodapé */
}

.bgSizeContain {
    background-image: url('/Content/images/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.colOpcoes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer-content {
    position: fixed;
    bottom: 394px;
    left: -342px;
    right: 342px;
    width: 100%;
    height: 25px;
}

    .footer-content p {
        color: blue;
        font-size:large;
        font-weight:100;
    }

.navpage {
    vertical-align: middle;
    height: 15px;
    mix-blend-mode: multiply; /* Tira fundo da imagem */
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 480px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
